<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Webhook - Home</title>
    <link rel="icon" type="image/png" href="../static/images/header-logo.png">
    <link rel="stylesheet" href="../static/css/styles.css"> 
</head>
<body>
    <div class="container">
        <h1>API Webhook</h1>
        <p>Bienvenido al servicio de API Webhook. Aquí puedes encontrar documentación y ejemplos para comenzar.</p>
        <a href="docs">Documentación</a>
        <div class="legal">
            <p>Aviso legal: Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="version">
            <p>Versión: 0.1.0</p>
        </div>
    </div>
</body>
</html>
